
@import "./media.scss";

.h1, .h2, .h3, .h4 {
    @apply p-0 m-0;
}

* {
    box-sizing: border-box;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 400;
}

button {
    cursor: pointer;
}

.container {
    margin: 0 auto;
}

div.vkuiContentCard__body {
    span.vkuiContentCard__text:nth-of-type(2) {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    span.vkuiContentCard__text:nth-of-type(3) {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

img.vkuiContentCard__img {
    height: 150px;
}

@media (min-width: 1920px) {
    img.vkuiContentCard__img {
        height: 170px;
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
    img.vkuiContentCard__img {
        height: 140px;
    }
}


@media (min-width: 1200px) and (max-width: 1439px) {
    img.vkuiContentCard__img {
        height: 130px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    img.vkuiContentCard__img {
        height: 110px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    img.vkuiContentCard__img {
        height: 120px;
    }
}

@media (max-width: 575px) {
    img.vkuiContentCard__img {
        height: 100px;
    }
}

@media (max-width: 440px) {
    img.vkuiContentCard__img {
        height: 180px;
    }
}



